main {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.custom-table-responsive {
  background-color: #f5f5f5;
}

.custom-table {
  min-width: 800px;
}

.table thead tr {
  background: #fff;
}

.table tbody tr {
  margin-bottom: 20px;
}

.table tbody th,
.table tbody td {
  border: none;
  padding: 30px;
  font-size: 14px;
  background: #fff;
  vertical-align: middle;
}

.table thead th {
  border: none;
  padding: 30px;
  font-size: 13px;
  font-weight: 700;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.divider:after,
.divider:before {
  content: '';
  flex: 1;
  height: 1px;
  background: rgb(209, 209, 209);
}

td > a:first-of-type {
  margin-right: 1rem;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: -10px;
}
